<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Ruumide Broneerimine</title>
    <link href="../static/styles/index.css" rel="stylesheet" />
</head>
<body>
    <a href="/">
    <img src="../static/logo.png" alt="logo" width="205" height="120">
    </a>
    <h1 style="color:white;">Ruumide broneerimine</h1>
    <br><br>
    <div id="kast">
    <br>
    <h1>ERROR 500:</h1>
    <h3>Internal Server Error!</h3>
    <p>//klikates "TALTECH" logole, saad kodulehele tagasi//</p>
    <br><br>
</div>
</body>
</html>
